@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }
html,body{
    margin: 0 0;
}
.header{
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    max-width: 1000px;
    width: auto;
}
#logo{
    height: 38px;
    margin-right: 20px;
}
#ten{
    margin: 0 0 0 0;
    margin-right: auto;
    font-size: 24px;
}
#cart{
    display:block;
    margin-left: auto;
    font-size: 20px;
    color: #9094FF;
    text-decoration: none;
    align-items: center;
}
#backgroundimg{
    position: absolute;
    top: -60px;
    left: -136px;
    opacity: 0.02;
    transform: rotate(20deg);
    height: 490px;
    z-index: -1;
}
.tieude{
    text-align: center;
    padding-top: 45px;
}
.tieude h3{
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
}
.tieude h2{
    font-size: 100px;
    margin: 0;
    color: #9094FF;
}
.sp{
    display: grid;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: auto 10% 45%;
    grid-template-rows: 20% 10% auto 10% 20%; 
    grid-template-areas: 
    "picture space title"
    "picture space line"
    "picture space mota"
    "picture space line2"
    "picture space button"
    ;
    height: 288px;
    width: 1000px;
}
.sp img{
    grid-area: picture;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25);
}
.sp h2{
    grid-area: title;
    font-size: 32px;
    font-weight: bold;
    display: block;
    margin-left: 0px;
}
.sp p{
    grid-area: mota;
}
.sp>div{
    grid-area: button;
    display: flex;
    align-items: left;
}
.sp>div>div{
    font-size: 28px;
    font-weight: bold;
}
.button{
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #9094FF;
    color: white;
    position: relative;
}
.button:hover {
    transition: 0.2s all;
}

.button:hover:before{
    transform: scale(1.15, 1.4);
}
.button:before{
    content: ' ';
    position: absolute;
    background-color: #9094FF;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
}
#button2:before{
    background-color: black;
}
.sp2{
    display: grid;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: auto 10% 45%;
    grid-template-rows: 20% 10% auto 10% 20%; 
    grid-template-areas: 
    "b1 space picture"
    "line space picture"
    "b2 space picture"
    "line2 space picture"
    "b3 space picture"
    ;
    height: 288px;
    width: 1000px;
}
.sp2>img{
    grid-area: picture;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25);
}
.sp2>h2{
    grid-area: b1;
    font-size: 32px;
    font-weight: bold;
    display: block;
    margin-left: 0px;
}
.sp2>p{
    grid-area: b2;
}
.sp2>div{
    grid-area: b3;
    display: flex;
    align-items: left;
}
.sp2>div>div{
    font-size: 28px;
    font-weight: bold;
}
.div-footer
{
    background-color: #EBEBEB;
    width: 100%;
    padding: 100px 100px 100px 100px;
    text-align: center;
}
.div-footer h2,span{
    font-size: 36px;
}
.div-footer span{
    font-size: 36px;
    color: #9094FF;
}
.end{
    color: ivory;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: #474747;
    
}
.container-footer{
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin: 0px auto;
}
.right{
    margin-left: auto;
}
.end a{
    color: ivory;
}





#header-cart
{
    background-color: black;
    color: wheat;
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#price
{
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    
}
#mycart{
    position: absolute;
}
#sub{
    margin: 0 auto;
    padding-top: 17px;
    font-weight: bold;
}
#body-cart{
    background-color: white;
}
.frcart{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: white;
    max-height: 200px;
    display: none;
}
#ifrcart{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    
}
.btncheck{
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    max-width: 1000px;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: auto;
    max-height: 50px;
}
#checkbox{
    width: 38px;
    height: 36px;
    display: block;
    margin-left: auto;
    padding-left: 20px;
    opacity: 0;
}
#checkbox:checked+label >.frcart {
    display: block;
}
