body{
    background-color: lightblue;
}

.container-login{
    background-color: blue;
    width: 100%;
    max-width: 500px;
    height: 10px;
    margin: 0 auto 0 auto;
    
}
.input{
    display: block;
}