<div class="card-footer">
    <div id="signup" class="d-flex justify-content-center links">
        Don't have an account?<a href="./signup">Sign Up</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="./forgot">Forgot your password?</a>
    </div>
</div>