<div class="popup-cart">
    <div class="container-cart">
        <div id="inside-cart">
            <div class="container" id="header-carts">
                <h2>MY CART</h2>
                <span class="container-price" id="container_price">
                    <span style="color: #999;">SUBTOTAL:</span>
                    <span>$ <span class="price"> 0</span></span>
                </span>
                <button onclick="closeCart()" style="cursor: pointer;">x</button>
            </div>
            <div class="container" id="body-carts">
            </div>
            <div class="container" id="footer-cart">
                <img src="./img/lock.png" style="height: 25px;" alt="">
                <a>POWERED AND SECURED BY <b>SNIPCART</b></a>
            </div>
        </div>
    </div>
</div>