<footer class="footer">
    <div class="div-footer">
        <div class="container">
            <div class="footer-content">
                <h2>Any questions? <span>Contact us.</span></h2>
                <p>We're looking forward to hearing from you. Feel free to contact us if you have any questions!</p>
                <button class="button-end">
                    Contact Us
                </button>
            </div>
        </div>
    </div>
    <div class="end">
        <div class="container">
            <div class="end-content"></div>
                <div class="left">
                    Next.js app with a
                    <a href=""> Snipcart </a>
                    - powered store
                </div>
                <div class="right">
                    <a href="">Facebook </a>
                    |<a href="">Twiter</a>
                    |<a href="">Github</a>
                </div>
            </div>
        </div>
    </div>
</footer>