<header class="header">
    <div class="container">
        <img src="./img/logo.svg" id="logo" alt="a" />
        <h1 id="ten">FishCastle</h1>
        <div>
            <a onclick="openCart()" id="cart">
                <img src="./img/abc.svg" id="cart-img"/>
                <div id="container-price">$<span class=price>0</span></div>
            </a>
            <div id="logout">Logout</div>
        </div>
    </div>
</header>