<%- include('layouts/homepage/head.ejs') %>
    <body>
        <%- include('layouts/homepage/header.ejs') %>
        <%- include('layouts/homepage/cart.ejs') %>
        <main class="main">
            <img src="./img/background.svg" alt="" id="backgroundimg">
            <div class="tieude">
                <h3>REDISCOVER</h3>
                <h2>Fishkeeping</h2>
                <p>An <b>exclusive collection of bettas</b> available for everyone.</p>
            </div>
            <div class="container">
                <div class="list-sp">
                </div>
            </div>
        </main>
        <%- include('layouts/homepage/footer.ejs') %>
    </body>
    <script type="text/javascript" src="./js/api.js"></script>
    <script type="text/javascript" src="./js/cart-jquery.js"></script>
</html>