<!DOCTYPE html>
<html>
    <head>
        <title>FishCastle</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" class="next-head">
        <link rel="stylesheet" type="text/css" href="./css/header.css">
        <link rel="stylesheet" type="text/css" href="./css/media.css">
        <link rel="stylesheet" type="text/css" href="./css/cart.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800">
        <script type="text/javascript" src="./js/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <img src="./img/logo.svg" id="logo" alt="a" />
                <h1 id="ten">FishCastle</h1>
                <div>
                    <a onclick="openCart()" id="cart">
                        <img src="./img/abc.svg" id="cart-img"/>
                        <div id="container-price">$<span class=price>0</span></div>
                    </a>
                    <div id="logout">Logout</div>
                </div>
            </div>
        </header>
        <div class="popup-cart">
            <div class="container-cart">
                <div id="inside-cart">
                    <div class="container" id="header-carts">
                        <h2>MY CART</h2>
                        <span class="container-price" id="container_price">
                            <span style="color: #999;">SUBTOTAL:</span>
                            <span>$ <span class="price"> 0</span></span>
                        </span>
                        <button onclick="closeCart()" style="cursor: pointer;">x</button>
                    </div>
                    <div class="container" id="body-carts">
                    </div>
                    <div class="container" id="footer-cart">
                        <img src="./img/lock.png" style="height: 25px;" alt="">
                        <a>POWERED AND SECURED BY <b>SNIPCART</b></a>
                    </div>
                </div>
            </div>
        </div>
        <main class="main">
            <img src="./img/background.svg" alt="" id="backgroundimg">
            <div class="tieude">
                <h3>REDISCOVER</h3>
                <h2>Fishkeeping</h2>
                <p>An <b>exclusive collection of bettas</b> available for everyone.</p>
            </div>
            <div class="container">
                <div class="list-sp">
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="div-footer">
                <div class="container">
                    <div class="footer-content">
                        <h2>Any questions? <span>Contact us.</span></h2>
                        <p>We're looking forward to hearing from you. Feel free to contact us if you have any questions!</p>
                        <button class="button-end">
                            Contact Us
                        </button>
                    </div>
                </div>
            </div>
            <div class="end">
                <div class="container">
                    <div class="end-content"></div>
                        <div class="left">
                            Next.js app with a
                            <a href=""> Snipcart </a>
                            - powered store
                        </div>
                        <div class="right">
                            <a href="">Facebook </a>
                            |<a href="">Twiter</a>
                            |<a href="">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="./js/api.js"></script>
    <script type="text/javascript" src="./js/cart-jquery.js"></script>
</html>