<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800">
    <script type="text/javascript" src="./js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="login">
        <div class="container-login">
            <form>
                <div>
                    Tên đăng Nhập :<input id="username" type="text">
                    Mật khẩu: <input id="password" type="password">
                </div>
                <div class="button">
                    <button type="submit" class="login-button">Đăng Nhập</button>
                    <button>Quên mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="./js/login.js"></script>
</html>